* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8f9fa;
  color: black;
}

.productos-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.productos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.producto-card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: calc(33.33% - 20px);
  min-width: 200px;
  text-align: center;
  color: wheat;
  box-sizing: border-box;
}

.producto-card h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.producto-card p {
  margin: 5px 0;
  color: #555;
}

.acciones {
  margin-top: 15px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ddd;
  color: white;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: black;
}

/* Responsividad para pantallas medianas y grandes */
@media (max-width: 1200px) {
  .productos-container {
    padding: 15px;
  }

  .producto-card {
    width: calc(25% - 20px); /* 4 productos por fila */
  }
}

/* Responsividad para pantallas medianas */
@media (max-width: 900px) {
  .productos-container {
    padding: 10px;
  }

  .producto-card {
    width: calc(33.33% - 20px); /* 3 productos por fila */
  }
}

/* Responsividad para pantallas más pequeñas */
@media (max-width: 600px) {
  .productos-container {
    padding: 10px;
  }

  .producto-card {
    width: calc(50% - 20px); /* 2 productos por fila */
  }
}

/* Responsividad para pantallas muy pequeñas */
@media (max-width: 400px) {
  .productos-container {
    padding: 5px;
  }

  .producto-card {
    width: 100%; /* 1 producto por fila */
  }
}
